.atention {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 8px;
  @media screen and (min-width: 768px) {
    padding: 28px 8px;
  }
}
.titleAtention {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    letter-spacing: 1.44px;
  }
}
.textAtention {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.56px;
  margin: 20px 0 40px 0;
  @media screen and (min-width: 768px) {
    text-align: center;
    font-size: 20px;
    line-height: 28px; /* 140% */
    letter-spacing: 0.8px;
    margin: 40px 0 40px 0;
  }
}
.btnContainer {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.btnLogIn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 40px;
  background-color: var(--yellow-color);
  text-align: center;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 12px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-right: 20px;
    margin-bottom: 0;
    width: 165px;
  }
}
.btnLogIn:hover,
.btnLogIn:focus {
  box-shadow: 7px 13px 14px rgba(232, 211, 116, 0.24);
}
.linkIcon {
  fill: var(--bg-color);
  margin-left: 8px;
}
.btnRegister {
  color: var(--yellow-color);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
  border-radius: 40px;
  border: 2px solid var(--yellow-color);
  background-color: inherit;
  padding: 7px 0;
  width: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 142px;
  }
}
.btnRegister:hover,
.btnRegister:focus {
  box-shadow: 7px 13px 14px rgba(232, 211, 116, 0.24);
}
