.inputFile {
    opacity: 0;
        height: 0;
        width: 100%;
        line-height: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
}

/* .labelInputFile {
    position: absolute;
        left: 43px;
        top: 56px;
    
    
            left: 76px;
            top: 106px;
} */