.FormWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 20px;

  @media screen and (min-width: 1280px) {
    gap: 25px;
  }
}

.WrapperLabelInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.LabelStep {
  color: #111111;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.Input {
  border-radius: 40px;
  box-shadow: none;
  outline: none;
  font-size: 14px;
  padding: 9px 16px;
  border: 1px solid #54adff;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    padding: 14px;
  }
}

.ButtonNext {
  background-color: #54adff;
  border-radius: 40px;
  padding: 8px 86px;
  color: #fef9f9;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
  .ButtonNext {
    margin-top: 34px;
    margin-left: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .ButtonNext {
    margin-top: 19px;
    margin-left: 25px;
  }
}

.ButtonEl {
  display: flex;
  gap: 16px;
}

.LinkAddPet {
  margin-top: -6px;
  margin-right: -20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LinkAddPetCancel {
  border-radius: 40px;
  color: #54adff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-right: 20px;
  margin-top: 2px;

  cursor: pointer;
  border: none;
  background-color: inherit;
}

@media screen and (max-width: 767px) {
  .LinkAddPet {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  .LinkAddPetCancel {
    padding: 8px 86px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
  .LinkAddPetCancel {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .LinkAddPetCancel {
    margin-top: 27px;
  }
}

.ErrorMessage {
  color: #F43F5E;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.InputError {
  border: 1px solid #F43F5E;
}
