.registerPage {
  padding-bottom: 50px;
  background-size: cover;
  background-image: url('../../images/bg-mob-1x.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../images/bg-mob-2x.png');
  }
  @media screen and (min-width: 481px) {
    background-size: contain;
    padding-bottom: 80px;

    background-image: url('../../images/bg-tbl-1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../images/bg-tbl-2x.png');
    }
  }
  @media screen and (min-width: 769px) {
    background-image: url('../../images/bg-dsc-1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../images/bg-dsc-2x.png');
    }
  }
}
