.label {
  display: flex;
  align-items: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 355px;
  }
}

.labelText {
  display: inline-block;
  width: 92px;

  font-family: 'Manrope-SemiBold';
  font-weight: 600;
  letter-spacing: 0.56px;
  @media screen and (min-width: 768px) {
    width: 84px;
    font-size: 18px;
    letter-spacing: 0.72px;
  }
}

.input {
  display: inline-block;
  width: 100%;
  padding: 4px 12px;
  margin-left: 8px;
  border-radius: 20px;
  border: 1px solid var(--blue-color);

  color: var(--primary-text-color);
  font-family: 'Manrope-Regular';
  font-weight: 400;
  letter-spacing: 0.48px;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    width: 255px;
    margin-left: 16px;

    font-size: 16px;
    letter-spacing: 0.64px;
  }
}

.errorText {
  position: relative;
  display: inline-block;
  margin-left: 86px;
  color: var(--red-color);
  font-size: 11px;
  font-family: 'Manrope-Regular';
  font-weight: 400;

  @media screen and (min-width: 768px) {
    margin-left: 112px;
    width: 231px;
  }
}
