.title {
    font-family: 'Manrope-Bold';
    font-size: 28px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .title {
    font-size: 48px;
    }
}

@media screen and (min-width: 1280px) {
  
 }

.wpapperFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wpapperCategoryList {
    display: flex;
    align-items: center;
    gap: 12px;
}

.filterWrap {
display: flex;
    align-items: center;
    gap: 12px;
}