@media screen and (min-width: 768px) {
    .container {
        padding: 0 16px;
    }
    
}
.container {
    display: flex;
        align-items: center;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 44px;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFC107;
    text-decoration: none;
    padding: 16px 8px;
}

.text {
    color: #FFC107;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.64px;
line-height: normal;
}