/* $duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1); */

.input {
  padding: 12px 16px;
  height: 48px;
  width: 100%;
  border-radius: 40px;
  border: 1px solid var(--blue-color);
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus,
.input:hover {
  outline: none;
  box-shadow: var(--shadows-hover);
}
.inputError {
  border: 1px solid var(--red-color);
  margin-bottom: 0;
}
.inputError:hover,
.inputError:focus {
  box-shadow: 7px 13px 14px rgba(232, 116, 116, 0.24);
}
.inputSuccess {
  border: 1px solid var(--greencolor);
}
.inputSuccess:hover,
.inputSuccess:focus {
  box-shadow: 7px 13px 14px rgba(159, 232, 116, 0.24);
}
.input::placeholder {
  color: var(--text-color-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.error {
  color: var(--red-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
  margin-left: 15px;
}
.error:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}
