.input {
  padding: 12px 16px;
  height: 48px;
  width: 100%;
  border-radius: 40px;
  border: 1px solid var(--blue-color);
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
.inputError {
  border: 1px solid var(--red-color);
  margin-bottom: 0;
}
.inputSuccess {
  border: 1px solid var(--greencolor);
}
.input::placeholder {
  color: var(--text-color-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}
input:focus {
  outline: none;
}
.error {
  color: var(--red-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}
