.box {
    @media screen and (min-width: 1280px) {
            display: flex;
            gap: 32px;
        }
    
}

.wrapperPetData {
    @media screen and (min-width: 768px) {
        width: 703px;
    }
        @media screen and (min-width: 1280px) {
            width: 821px;
        }

}