.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 28px;
  }
  @media screen and (min-width: 1280px) {
    .navigation {
      width: 100%;
      justify-content: space-between;
      margin-left: 160px;
    }
  }
  
  .burger {
    cursor: pointer;
    stroke: #ffc107;
  }
  @media screen and (min-width: 768px) {
    .burger {
      margin-left: 22px;
    }
  }
  .userData {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
    margin-top: 40px;
    margin-bottom: 84px;
    color: #FFC107;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.64px;
line-height: normal;
  }