@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter-Regular'),
    url('./fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Medium';
  src: local('Inter-Medium'),
    url('./fonts/Inter/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope-Regular';
  src: local('Manrope-Regular'),
    url('./fonts/Manrope/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope-Medium';
  src: local('Manrope-Medium'),
    url('./fonts/Manrope/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope-SemiBold';
  src: local('Manrope-SemiBold'),
    url('./fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope-Bold';
  src: local('Manrope-Bold'),
    url('./fonts/Manrope/Manrope-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope-ExtraBold';
  src: local('Manrope-ExtraBold'),
    url('./fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
li {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
select {
  font: inherit;
}

button {
  padding: 0;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Manrope-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
    line-height: 1.37;
    background-color: #fef9f9;

    @media screen and (min-width: 768px) {
        font-size: 16px;
      }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  /* colors */
  --primary-text-color: #111111;
  --text-color-grey: #888888;
  --blue-color: #54ADFF;
  --yellow-color: #FFC107;
  --blue-light-color: #CCE4FB;
  --greencolor: #00C3AD;
  --red-color: #F43F5E;
  --bg-color: #FEF9F9;

  /* linear-gradient */
    --blue-linear-gradient: llinear-gradient(315deg, #419EF1 0%, #9BD0FF 100%);
  
  /* shadows */
      --shadows-default: 3px 8px 14px rgba(136, 198, 253, 0.19);
      --shadows-hover: 7px 13px 14px rgba(116, 177, 232, 0.24);
}


/* для використання кольору */
/* color: 'var(--blue-color)', */